<config>
    <modules>
        <Vufind_Vumatch>
            <version>0.1.0</version>
        </Vufind_Vumatch>
    </modules>
    <global>
        <blocks>
            <vumatch>
                <class>Vufind_Vumatch_Block</class>
            </vumatch>
        </blocks>
        <models>
            <vumatch>
                <class>Vufind_Vumatch_Model</class>
            </vumatch>
        </models>
        <helpers>
            <vumatch>
                <class>Vufind_Vumatch_Helper</class>
            </vumatch>
        </helpers>
     </global>

     <frontend>
        <layout>
            <updates>
                <vumatch>
                    <file>vufind_vumatch.xml</file>
                </vumatch>
            </updates>
        </layout>

        <events>
            <controller_action_postdispatch_catalog_product_view>
                <observers>
                    <vumatch_postdispatch_observer>
                        <type>singleton</type>
                        <class>vumatch/observer</class>
                        <method>eventPostDispatchProductView</method>
                    </vumatch_postdispatch_observer>
                </observers>
            </controller_action_postdispatch_catalog_product_view>
        </events>
     </frontend>

    <adminhtml>
        <events>
            <controller_action_predispatch_adminhtml_system_config_save>
                <observers>
                    <vumatch_predispatch_observer>
                        <type>singleton</type>
                        <class>vumatch/observer</class>
                        <method>eventPreDispatch</method>
                    </vumatch_predispatch_observer>
                </observers>
            </controller_action_predispatch_adminhtml_system_config_save>
            <controller_action_postdispatch_adminhtml_system_config_save>
                <observers>
                    <vumatch_postdispatch_observer>
                        <type>singleton</type>
                        <class>vumatch/observer</class>
                        <method>eventPostDispatch</method>
                    </vumatch_postdispatch_observer>
                </observers>
            </controller_action_postdispatch_adminhtml_system_config_save>
        </events>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <vumatch module="vumatch"> 
                                            <title>Vufind Recommender</title>
                                        </vumatch>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>

    </adminhtml>

</config>
